.theme {
  color: #DDD1C7;
  color: #C9BEB5;
  color: #C2CFB2;
  color: #8DB580;
  color: #7E8987;
  color: #4B4A67;
}

.Body {
  background-color: #4B4A67;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Consolas, monaco, monospace;
  padding-bottom: 60px;
}

.Content {
  width: 80vw;
}

.Header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header > .Header-photo {
  width: auto;
  height: 180px;
  border-radius: 180px;
  border: 5px solid #8DB580;
}

.Header > .Header-name {
  color: #C9BEB5;
  font-size: 32px;
  text-transform: uppercase;
}

.Header > .Header-title {
  color: #C9BEB5;
  font-size: 22px;
}

@media print {

  .Header > .Header-photo {
    height: 120px;
    border-radius: 120px;
  }

  .Header > .Header-name {
    color: #C9BEB5;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .Header > .Header-title {
    color: #C9BEB5;
    font-size: 12px;
  }

  .Body {
    font-size: 11px;
  }

}